.projects_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.projects_item {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  transition: var(--transition);
  max-height: 400px;
}
.projects_item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}
.image {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.projects_item_image {
  border-radius: 1rem;
  overflow: hidden;
}
.projects_item h3 {
  margin: 1.2rem 0 1.7rem;
}

.projects_item_button {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 1024px) {
  .projects_container {
    grid-template-columns: 1fr 1fr;

    gap: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .projects_container {
    grid-template-columns: 1fr;

    gap: 1.2rem;
  }
}
