.navbar {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: rgb(18, 18, 56);
  justify-content: space-around;
  padding: 20px;
}
.intro {
  font-size: 20px;
}
nav a {
  font-size: 18px;
  margin-right: 25px;
}
a:hover {
  border-bottom: 5px solid rgb(100, 124, 190);
  transition: left 250ms ease-in-out, right 250ms ease-in-out;
}
nav a.active {
  color: blueviolet;
  border-bottom: 5px solid rgb(100, 124, 190);
}
