.navbar {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: rgb(22, 22, 63);
  justify-content: space-around;
  padding: 20px;
  min-height: 70px;
}
.intro {
  font-size: 20px;
}
.nav_item {
  position: relative;
}
nav a {
  font-size: 18px;
  margin-right: 30px;
}
nav a:hover {
  border-bottom: 5px solid rgb(100, 124, 190);
  transition: left 250ms ease-in-out, right 250ms ease-in-out;
}
nav a.active {
  color: blueviolet;
  border-bottom: 5px solid rgb(100, 124, 190);
}
.hamburger-menu {
  display: none;
}
@media screen and (max-width: 991px) {
  .hamburger-menu {
    display: block;
    position: absolute;
    right: 50px;
    font-size: 1.8rem;
    cursor: pointer;
  }
  .intro {
    font-size: 20px;
    position: absolute;
    left: 0;
    padding-left: 50px;
  }
  .nav_item {
    display: flex;
    flex-direction: column;
    padding: 50px;
    height: auto;
  }
  nav a {
    margin-top: 20px;
  }
}
